/*
 * @Author: command
 * @Date: 2018-01-25 16:57:21 
 * @Last Modified by: commad
 * @Last Modified time: 2018-01-25 18:56:11
 */
#app {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}
.container {
  display: flex;
  flex-direction: row;
  height: 100%;
}
