/*
 * @Author: command
 * @Date: 2018-01-25 18:46:08 
 * @Last Modified by: commad
 * @Last Modified time: 2018-01-25 18:57:13
 */
#sidebar {
  width: 12rem;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  border-right: 0.1rem solid darkcyan;
}
